* {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 15px;
	margin-bottom: 5px;
}

select {
	width: 100%;
	font-size: 14px;
}

select:hover {
	background: rgb(225, 225, 225);
	box-shadow: 0 0 10px 1px rgb(222, 222, 222);
}

select:focus {
	background: rgb(225, 225, 225);
	box-shadow: 0 0 10px 1px rgb(222, 222, 222);
}

label {
	font-size: 14px;
}

button:hover {
	cursor: pointer;
}

button:active {
	cursor: wait;
}

.banner {
	background: url(./assets/img/ocean.png);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 70px;
	border-bottom: 5px solid rgb(73, 141, 78);
	box-shadow: 0 1px 8px 0 rgb(0, 0, 0);
}

.logo {
	font-size: 20px;
	line-height: 70px;
	text-indent: 110px;
	color: white;
	background: url(./assets/img/bio-optics_logo.png) no-repeat left;
	background-size: 100px;
}

.heading {
	display: block;
	color: black;
	margin-top: 100px;
	margin-left: 30px;
	font-size: 24px;
	font-weight: bold;
	width: calc(100% - 30px);
	height: auto;
}

.app-container {
	margin: 30px;
	width: calc(100% - 60px);
	height: 100%;
	display: flex;
	/* border: 2px solid black; */
}

.details-container {
	padding: 20px;
	width: 20%;
	height: max-content;
	margin-right: 20px;
	box-shadow: 0 0 10px 1px rgb(182, 182, 182);
}

.container-heading {
	width: 100%;
	border-bottom: 3px solid rgb(73, 141, 78);
	text-align: center;
}

.detail {
	width: 100%;
	margin-top: 20px;
}

.confirm-button {
	margin-top: 20px;
	text-align: center;
}

.graph-container {
	padding: 20px;
	width: calc(90% - 20px);
	height: 100%;
	box-shadow: 0 0 10px 1px rgb(182, 182, 182);
}

.graph {
	width: 100%;
	height: 100%;
}
